*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #117bd1;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.logo{
    width: 30%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.roupas{
width: auto;
align-items: center;
}

.roupa-1{
   width: 20%;
}